.entryFormBlock {
    background-color: #fff;
    border-radius: 22px;
    padding: 2rem 1rem;
    max-width: 500px;
    width: 40%;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.entryForm{
    margin-left: 3rem;
    margin-right: 3rem;
    display: flex;
    flex-direction: column;
}

.options {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.fileInput {
    font-family: 'Cagliostro', sans-serif;
    width: 200px;
}

.submitButton {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 22px;
    background-color: var(--primary);
    height: 3rem;
    width: fit-content;
    padding: 0 1rem;
    margin: 0.5rem;
    color: #fff;
}