.datePickerAndSearch{
    display: flex;
    margin-left: 15%;
    background-color: aqua;
    padding-left: 2rem;
    justify-content: space-between;
}

.datePickerLeft{
    display: flex;
}

.SearchBarRight{
    display: flex;

}

.browseSearchBar{
    display: flex;
    width: 100%;
    height: 100px;
}

.datePicker{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.SearchBar{
    
}

.itemGrid{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 3em;
}

.itemCard{
    background-color: #fff;
    border-radius: 22px;
    padding: 1rem;
    width: 30%;
    height: 150px;
    margin-bottom: 1rem;
    border: solid 2px var(--neutral-light)
}