.welcomeName {
    font-size: 1.5rem;
    margin-top: 0;
}

.itemsForLoan,
.borrowedItems {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.explainerText{
    width: 40%;
    text-align: justify;
}

.infoText {
    margin: 0 5rem 1rem 5rem;
    text-align: justify;
}

.itemGrid {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
}

.itemBlock{
    background-color: #fff;
    border-radius: 22px;
    padding: 1rem;
    width: 30%;
    height: 150px;
    margin-bottom: 1rem;
    border: solid 2px var(--neutral-light)
}

@media screen and (max-width: 1024px) {
    .welcomeName {
        margin-top: 1rem;
    }
    
    .explainerText{
        width: 100%;
    }

    .itemsForLoan,
    .borrowedItems {
        width: 80%;
    }
}
