.welcomeName {
    font-size: 1.5rem;
    margin-top: 3rem;
}

.itemsForLoan,
.borrowedItems {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}

