.loggedInBackground {
    background-color: var(--primary-light);
    height: 90vh;
}

.navbar {
    background: var(--primary);
    height: 10vh;
    display: flex;
    bottom: 0;
    justify-content: space-between;
  }
