.navbar {
    background: var(--primary-dark);
    position: fixed;
    margin-top: 15px;
    height: 10%;
    width: 100%;
    bottom: 0;
    left: 0;
    padding-left: 3rem;
    padding-right: 3rem;
    display: flex;
    justify-content: space-between;
}

.navOptionBlock {
    display: flex;
    width: 25%;
    justify-content: center;
    align-items: center;


}

.navIcon {
    color: #fff;
    font-size: 2.5rem;
}


.navButton {
    background: transparent;
    outline: none;
    border: none;

}


@media screen and (max-width: 1024px) {
    .navIcon {
        font-size: 2rem;
    }
}