.loggedInBackground {
    background-color: var(--primary-light);
    height: 100%;
    display: flex;
    flex-direction: column;
}

.mainContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10vh;
}

.accountTitle{
    margin: 2rem 5rem;
    font-size: 3rem;
}

.passwordRequest {
    display: flex;
    justify-content: flex-start;
}

hr {
    color: var(--primary-dark);
    width: 40%;
    border: 1px solid;
}

.personalDetailsHeader{
    display: flex;
    justify-content: center;
    align-items: center;
}

.changePersonalDetails{
    margin-left: 2rem;
    cursor: pointer;
}

.profileCard {
    background-color: #ffffff;
    border-radius: 1rem;
    padding: 1rem;
    max-width: 500px;
    width: 20%;
    margin-bottom: 1rem;
}

.profileName,
.profileEmail,
.profileAddress,
.profileEmailActive,
.profileNameActive {
    all: unset;
    margin: 0.3rem 0;
    font-weight: 600;
    width: 100%;
    height: 2rem;
}

.profileNameActive,
.profileEmailActive {
    background-color: rgba(44, 44, 44, 0.1);
}

.locationHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.addressParagraph {
    margin-top: 0;
    width: 80%;
    text-align: center;
}

.logoutButton {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 22px;
    background-color: var(--primary);
    height: 3rem;
    width: 5rem;
    margin: 0.5rem;
    color: #fff;
}

@media screen and (max-width: 768px) {

}